<nav class="navbar-top d-flex justify-content-between align-items-center sticky-top">
    <h1 class="fs-4 fw-bold mb-0 text-vh-dark">Volunteer Management</h1>

    <div class="d-flex align-items-center global-search">
        <app-search-bar placeholder="Global search..."></app-search-bar>
        <button class="btn p-1 ms-3 text-muted">
            <i class="bi bi-bell-fill fs-5"></i>
        </button>
        <button class="btn p-1 ms-3 text-muted">
            <i class="bi bi-person-circle fs-4"></i>
        </button>
    </div>
</nav>